.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0 0 0 0);
}

body {
  font-size: 12px;
  line-height: 16px;
  color: #202020;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
  min-width: 1190px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

.common-inner {
  width: 1130px;
  margin: 0 auto;
}

/* thumb-dim */
.thumb-dim {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
  background: #000;
}
/* thumb-bd */
.thumb-bd {
  display: block;
  position: relative;
}
.thumb-bd::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(0, 0, 0, .1);
}

/* 아이콘 */
.ico-play {
  display: inline-block;
  width: 24px;
  height: 28px;
  background-position: 0 -389px;
  vertical-align: top;
}

.ico-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: top;
}

.btn-prev .ico-btn {
  background-position: -128px -345px;
}
.btn-next .ico-btn {
  background-position: -86px -345px;
}

.ico-more {
  display: inline-block;
  width: 42px;
  height: 42px;
  background-position: 0 -345px;
  vertical-align: top;
}

/*창고 */
.header .logo a::before,
.header .search-area .btn-search::before,
.header .service-area .link-start::after,
.sc-news .group-issue .link-media::after,
.sc-news .group-title .btn-set::after,
.sc-login .link-login::before,
.sc-themepost .group-title .btn-set::before,
.sc-themepost .theme-btn::before,
.ico-play,
.ico-btn,
.ico-more,
.sc-themepost .theme-title a.title::after,
.footer .notice-area .link-all::after {
  background-image: url("../images/sp-bg.png");
  background-size: 457px;
  background-repeat: no-repeat;
}

.sc-shop .group-title .link-title a::before,
.sc-shop .group-title .link-title a::after,
.sc-shop .shop-control .btn::before,
.sc-shop .shop-page .btn::before,
.sc-shop .group-plusdeal .shop-title .link-logo::before,
.sc-shop .deal-list .thumb-box + .thumb-box::before,
.sc-shop .deal-list .ico-one-plus {
  background-image: url("../images/sp-bg2.png");
  background-size: 107px 101px;
  background-repeat: no-repeat;
}